.contactCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20%;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  height: 30rem;
  width: 80rem;
}
p {
  border: 10px #128b36 solid;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  color: #fafafa;
  border-radius: 100px;
  margin: 2%;
}
p:hover {
  box-shadow: 0 100px 130px 0 rgba(222, 239, 241, 0.925);
  transform: scale(1.1);
}
.imageCard {
  border-radius: 100px;
  width: 250px;
  margin: 20px 10px;
}
.btn-flex {
  display: flex;
}
.btn {
  border: 10px #128b36 solid;
  border-radius: 20px;
  height: 50px;
  margin: 0 20px;
  background-color: #128b36;
  color: white;
  margin: 5px;
  font-weight: 700;
}
.btn:hover {
  transform: scale(1.1);
}
