.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  background-color: #050505;
}

h1 {
  color: #ede9d8;
  text-align: center;
  font-size: 50px;
}

.app {
  display: inline-block;
}
.mainDiv {
  width: 1179px;
}
