* {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-modal {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.inner-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.btn-close {
  float: right;
}

.inp-edit {
  border: 5px #128b36 solid;
  border-radius: 10px;
  height: 40px;
  margin: 5px 20px;
  background-color: #ebe9dc;
  color: #27337f;
  font-size: 18px;
  font-weight: 900;
  width: 30rem;
}

.btn-save,
.btn-close {
  border: 5px #128b36;
  border-radius: 10px;
  height: 50px;
  margin: 10px 20px;
  background-color: #128b36;
  color: white;
  font-size: 18px;
  font-weight: 900;
}

span {
  color: #ede9d8;
  text-align: center;
  font-size: 40px;
}
